In [1]:
#Spark context is the main entry point it consist all basic funcatanility of spark and driver contain dax scheadulae and backend and block manager
#which are responsible for translating user written code into jobs that are actually executed on cluster.

In [2]:
from pyspark import SparkContext

#if getting error pip istall pyspark

import findspark
findspark.init()

In [3]:
sc = SparkContext("local","SparkPractice")

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/09/22 06:01:25 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/09/22 06:01:26 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [4]:
data = [1,2,3,4,5]
rdd = sc.parallelize(data)

In [5]:
result = rdd.collect()  # Collect is a method which perform an action
print(result)

[1, 2, 3, 4, 5]

In [6]:
def f(x): print(x)

In [7]:
names = sc.parallelize(['adam','aditya','abhinav','Mark','Christ','ravi','rahul','anup'])

In [8]:
names.collect()

['adam', 'aditya', 'abhinav', 'Mark', 'Christ', 'ravi', 'rahul', 'anup']

In [9]:
num = sc.parallelize([5,5,4,3,2,9,2],3)

In [10]:
num.getNumPartitions()

3

In [11]:
num.collect()

[5, 5, 4, 3, 2, 9, 2]

In [12]:
sc.getConf().getAll()

[('spark.master', 'local'),
 ('spark.app.id', 'local-1695362486714'),
 ('spark.driver.host', 'ip-172-31-6-100.ap-south-1.compute.internal'),
 ('spark.executor.id', 'driver'),
 ('spark.driver.extraJavaOptions',
  '-Djava.net.preferIPv6Addresses=false -XX:+IgnoreUnrecognizedVMOptions --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.lang.invoke=ALL-UNNAMED --add-opens=java.base/java.lang.reflect=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED --add-opens=java.base/java.net=ALL-UNNAMED --add-opens=java.base/java.nio=ALL-UNNAMED --add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.util.concurrent=ALL-UNNAMED --add-opens=java.base/java.util.concurrent.atomic=ALL-UNNAMED --add-opens=java.base/sun.nio.ch=ALL-UNNAMED --add-opens=java.base/sun.nio.cs=ALL-UNNAMED --add-opens=java.base/sun.security.action=ALL-UNNAMED --add-opens=java.base/sun.util.calendar=ALL-UNNAMED --add-opens=java.security.jgss/sun.security.krb5=ALL-UNNAMED -Djdk.reflect.useDirectMethodHandle=false'),
 ('spark.app.startTime', '1695362484997'),
 ('spark.rdd.compress', 'True'),
 ('spark.serializer.objectStreamReset', '100'),
 ('spark.submit.pyFiles', ''),
 ('spark.submit.deployMode', 'client'),
 ('spark.app.submitTime', '1695362484738'),
 ('spark.app.name', 'SparkPractice'),
 ('spark.ui.showConsoleProgress', 'true'),
 ('spark.driver.port', '43389'),
 ('spark.executor.extraJavaOptions',
  '-Djava.net.preferIPv6Addresses=false -XX:+IgnoreUnrecognizedVMOptions --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.lang.invoke=ALL-UNNAMED --add-opens=java.base/java.lang.reflect=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED --add-opens=java.base/java.net=ALL-UNNAMED --add-opens=java.base/java.nio=ALL-UNNAMED --add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.util.concurrent=ALL-UNNAMED --add-opens=java.base/java.util.concurrent.atomic=ALL-UNNAMED --add-opens=java.base/sun.nio.ch=ALL-UNNAMED --add-opens=java.base/sun.nio.cs=ALL-UNNAMED --add-opens=java.base/sun.security.action=ALL-UNNAMED --add-opens=java.base/sun.util.calendar=ALL-UNNAMED --add-opens=java.security.jgss/sun.security.krb5=ALL-UNNAMED -Djdk.reflect.useDirectMethodHandle=false')]

In [13]:
num.countByValue()

defaultdict(int, {5: 2, 4: 1, 3: 1, 2: 2, 9: 1})

In [22]:
from pyspark.sql import  SparkSession

In [23]:
from pyspark.sql.types import StructType, StructField,IntegerType,StringType

In [24]:
data = [("Alice",25),("Bob",30),("Charlie",35),("David",28),("Eve",22)]

In [25]:
schema=StructType(
[
    StructField("name",StringType(), True),
    StructField("age", IntegerType(), True)
])

In [26]:
spark=SparkSession.builder.appName("A").getOrCreate()

In [27]:
rdd=spark.sparkContext.parallelize(data)

In [28]:
rdd.collect()

[('Alice', 25), ('Bob', 30), ('Charlie', 35), ('David', 28), ('Eve', 22)]

In [40]:
df= spark.createDataFrame(rdd,schema=schema)

In [41]:
result_df=df.filter(df.age>=30)

In [43]:
result_df.show()

+-------+---+
|   name|age|
+-------+---+
|    Bob| 30|
|Charlie| 35|
+-------+---+

In [45]:
df.createOrReplaceTempView("mytable")

In [50]:
result = spark.sql("select * from mytable where age >=30")

In [52]:
result.show()

+-------+---+
|   name|age|
+-------+---+
|    Bob| 30|
|Charlie| 35|
+-------+---+

In [53]:
df=spark.read.csv("movies.csv",header=True,inferSchema=True)

In [55]:
df.show()

+--------------------+---------+--------------------+----------------+-------------+-----------------+---------------+----+
|                Film|    Genre|         Lead Studio|Audience score %|Profitability|Rotten Tomatoes %|Worldwide Gross|Year|
+--------------------+---------+--------------------+----------------+-------------+-----------------+---------------+----+
|Zack and Miri Mak...|  Romance|The Weinstein Com...|              70|  1.747541667|               64|        $41.94 |2008|
|     Youth in Revolt|   Comedy|The Weinstein Com...|              52|         1.09|               68|        $19.62 |2010|
|You Will Meet a T...|   Comedy|         Independent|              35|  1.211818182|               43|        $26.66 |2010|
|        When in Rome|   Comedy|              Disney|              44|          0.0|               15|        $43.04 |2010|
|What Happens in V...|   Comedy|                 Fox|              72|  6.267647029|               28|       $219.37 |2008|
| Water For Elephants|    Drama|    20th Century Fox|              72|  3.081421053|               60|       $117.09 |2011|
|              WALL-E|Animation|              Disney|              89|  2.896019067|               96|       $521.28 |2008|
|            Waitress|  Romance|         Independent|              67|   11.0897415|               89|        $22.18 |2007|
| Waiting For Forever|  Romance|         Independent|              53|        0.005|                6|         $0.03 |2011|
|     Valentine's Day|   Comedy|        Warner Bros.|              54|  4.184038462|               17|       $217.57 |2010|
|Tyler Perry's Why...|  Romance|         Independent|              47|    3.7241924|               46|        $55.86 |2007|
|Twilight: Breakin...|  Romance|         Independent|              68|  6.383363636|               26|       $702.17 |2011|
|            Twilight|  Romance|              Summit|              82|  10.18002703|               49|       $376.66 |2008|
|      The Ugly Truth|   Comedy|         Independent|              68|  5.402631579|               14|       $205.30 |2009|
|The Twilight Saga...|    Drama|              Summit|              78|      14.1964|               27|       $709.82 |2009|
|The Time Traveler...|    Drama|           Paramount|              65|  2.598205128|               38|       $101.33 |2009|
|        The Proposal|   Comedy|              Disney|              74|       7.8675|               43|       $314.70 |2009|
|The Invention of ...|   Comedy|        Warner Bros.|              47|  1.751351351|               56|        $32.40 |2009|
|  The Heartbreak Kid|   Comedy|           Paramount|              41|  2.129444167|               30|       $127.77 |2007|
|         The Duchess|    Drama|           Paramount|              68|  3.207850222|               60|        $43.31 |2008|
+--------------------+---------+--------------------+----------------+-------------+-----------------+---------------+----+
only showing top 20 rows

In [58]:
df.show()

+--------------------+---------+--------------------+----------------+-------------+-----------------+---------------+----+
|                Film|    Genre|         Lead Studio|Audience score %|Profitability|Rotten Tomatoes %|Worldwide Gross|Year|
+--------------------+---------+--------------------+----------------+-------------+-----------------+---------------+----+
|Zack and Miri Mak...|  Romance|The Weinstein Com...|              70|  1.747541667|               64|        $41.94 |2008|
|     Youth in Revolt|   Comedy|The Weinstein Com...|              52|         1.09|               68|        $19.62 |2010|
|You Will Meet a T...|   Comedy|         Independent|              35|  1.211818182|               43|        $26.66 |2010|
|        When in Rome|   Comedy|              Disney|              44|          0.0|               15|        $43.04 |2010|
|What Happens in V...|   Comedy|                 Fox|              72|  6.267647029|               28|       $219.37 |2008|
| Water For Elephants|    Drama|    20th Century Fox|              72|  3.081421053|               60|       $117.09 |2011|
|              WALL-E|Animation|              Disney|              89|  2.896019067|               96|       $521.28 |2008|
|            Waitress|  Romance|         Independent|              67|   11.0897415|               89|        $22.18 |2007|
| Waiting For Forever|  Romance|         Independent|              53|        0.005|                6|         $0.03 |2011|
|     Valentine's Day|   Comedy|        Warner Bros.|              54|  4.184038462|               17|       $217.57 |2010|
|Tyler Perry's Why...|  Romance|         Independent|              47|    3.7241924|               46|        $55.86 |2007|
|Twilight: Breakin...|  Romance|         Independent|              68|  6.383363636|               26|       $702.17 |2011|
|            Twilight|  Romance|              Summit|              82|  10.18002703|               49|       $376.66 |2008|
|      The Ugly Truth|   Comedy|         Independent|              68|  5.402631579|               14|       $205.30 |2009|
|The Twilight Saga...|    Drama|              Summit|              78|      14.1964|               27|       $709.82 |2009|
|The Time Traveler...|    Drama|           Paramount|              65|  2.598205128|               38|       $101.33 |2009|
|        The Proposal|   Comedy|              Disney|              74|       7.8675|               43|       $314.70 |2009|
|The Invention of ...|   Comedy|        Warner Bros.|              47|  1.751351351|               56|        $32.40 |2009|
|  The Heartbreak Kid|   Comedy|           Paramount|              41|  2.129444167|               30|       $127.77 |2007|
|         The Duchess|    Drama|           Paramount|              68|  3.207850222|               60|        $43.31 |2008|
+--------------------+---------+--------------------+----------------+-------------+-----------------+---------------+----+
only showing top 20 rows

In [60]:
df.createOrReplaceTempView("New_table")

In [85]:
result = spark.sql("select * from New_table where `Audience score %` >=70 ")

In [86]:
print(result.schema)

StructType([StructField('Film', StringType(), True), StructField('Genre', StringType(), True), StructField('Lead Studio', StringType(), True), StructField('Audience score %', IntegerType(), True), StructField('Profitability', DoubleType(), True), StructField('Rotten Tomatoes %', IntegerType(), True), StructField('Worldwide Gross', StringType(), True), StructField('Year', IntegerType(), True)])

In [87]:
result.show(10)

+--------------------+---------+--------------------+----------------+-------------+-----------------+---------------+----+
|                Film|    Genre|         Lead Studio|Audience score %|Profitability|Rotten Tomatoes %|Worldwide Gross|Year|
+--------------------+---------+--------------------+----------------+-------------+-----------------+---------------+----+
|Zack and Miri Mak...|  Romance|The Weinstein Com...|              70|  1.747541667|               64|        $41.94 |2008|
|What Happens in V...|   Comedy|                 Fox|              72|  6.267647029|               28|       $219.37 |2008|
| Water For Elephants|    Drama|    20th Century Fox|              72|  3.081421053|               60|       $117.09 |2011|
|              WALL-E|Animation|              Disney|              89|  2.896019067|               96|       $521.28 |2008|
|            Twilight|  Romance|              Summit|              82|  10.18002703|               49|       $376.66 |2008|
|The Twilight Saga...|    Drama|              Summit|              78|      14.1964|               27|       $709.82 |2009|
|        The Proposal|   Comedy|              Disney|              74|       7.8675|               43|       $314.70 |2009|
|The Curious Case ...|  Fantasy|        Warner Bros.|              81|   1.78394375|               73|       $285.43 |2008|
|             Tangled|Animation|              Disney|              88|  1.365692308|               89|       $355.01 |2010|
|    Sex and the City|   Comedy|        Warner Bros.|              81|  7.221795791|               49|       $415.25 |2008|
+--------------------+---------+--------------------+----------------+-------------+-----------------+---------------+----+
only showing top 10 rows